* {
    margin: 0;
    padding: 0;
}

/* banner-section-design */
.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 50px;
    border-radius: 24px;
    margin: 0px 120px;
    margin-top: 40px;
}

.banner-content h4 {
    color: #0E0E0E;
    opacity: 50%;
    font-weight: 24px;
    font-size: 24px;

}

.banner-content,[type="h1"]{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 43px;

}

.banner-button {
    color: white;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    padding: 24px;
    font-size: 18px;
    font-weight: bold;

}

.banner-img{
    width: 474.03px;
    height: 400px;
}

/* pillars card section styles */

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
    background-color: white;
    margin: 35px 160px;
  }

  .card{
    border-radius: 16px;
    border: 0.5px solid #615f5f51;
    padding: 24px 214px 24px 24px;
    margin-top: 10px;
  }

.bd2{
    font-size: 35px;
    margin: 0 160px;
    margin-bottom: 10px;
    margin-top: 70px;
}
.card h3 {
    font-size: 25px;
    color: #0e0e0ed5;
}

.card p {
    opacity: 63%;
}

/* vision section styles start here */
  .vision-header h2 {
    font-size: 40px;
    margin:0px 160px;
    margin-top: 80px;
  }
  
  .vision-header p {
    margin:0px 160px;
    font-size: 20px;
    margin-top: 24px;
    opacity: 65%;
    
  }
  
  /* Cards Container */

  .vision-cards {
    display: flex;
    gap: 24px;
    margin: 32px 160px;

  }
  
  /* Individual Card */
  .vision-card {
    background-color: #5490F5;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 32px;
    /* width: 300px; */
    text-align: left;
  }
  
  .vision-card img {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
  }
  
  .vision-card h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .vision-card p {
    font-size: 21px;
    color: #0e0e0e9b;
    margin-bottom: 40px;
  }
  
  .vision-card button:hover {
    background-color: #b33c00;
  }
  
  /* Colors for Cards */
  .card-blue {
    background-color: #e8f1ff;
  }
  
  .card-green {
    background-color: #C6E4D6;
  }
  
  .card-yellow {
    background-color: #F7EBCF;
  }

#btn-blue {
    background-color: #5490F5;
    color: white;
    border: none;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;   
}

#btn-green {
    background-color: #09A15C;
    color: white;
    border: none;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold; 
}

#btn-yellow {
    background-color: #FFC239;
    color: white;
    border: none;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;  
}

/* vision of future style ends here */